version: '2'

services:
  db:
    environment:
      POSTGRES_DB: grupo03_db
      POSTGRES_USER: grupo03
      POSTGRES_PASSWORD: 03grup0!
    restart: always
    image: postgres
    expose:
      - "5432"
  redis:
    restart: always
    image: redis:3.0
    expose:
      - "6379"
  app:
    environment:
      DATABASE_URL: postgres://grupo03:03grup0!@db/grupo03_db
      REDIS_URL: redis://redis
      DJANGO_MANAGEPY_MIGRATE: 'on'
    build:
      context: .
      dockerfile: ./Dockerfile
    links:
      - db:db
      - redis:redis
    ports:
      - "8000:8000"
    depends_on:
      - db
